<div class="home">
    <div class="titulo">
        <h1>Trabalho de Gp</h1>
    
        <h2>Trabalho realizado por:</h2>
    </div>
    <div class="integrantes">
        <p>Gabriel</p>
        <p>Matheus</p>
        <p>Rafael</p>
        <p>Renan</p>
        <p>Sabrina</p>
    </div>
</div>